<html>
  <head>
    <title>User</title>
  <body> 
  <div class="jumbotron text-center text-primary bg-light">
  	<h6> Bienvenue sur la page de : <%= @user.first_name %> <%= @user.last_name%> !</h6> 
  	<h6>Voici les infos sur : <%= @user.first_name %> <%= @user.last_name%></h6>
    </div>

  	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="row">#</th>
      <th scope="row">First Name</th>
      <th scope="row">Last Name</th>
      <th scope="row">Description</th>
      <th scope="row">Email</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <th scope="col"> # </th>
      <td> <%= @user.first_name %> </td>
      <td> <%= @user.last_name %> </td>
      <td> <%= @user.description %> </td>
      <td> <%= @user.email %> </td>
    </tr>

  </tbody>

</table>

<h3 class="text-center"> Voici tous les événements gérés par cet utilisateur</h3>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="row">#</th>
      <th scope="row">Event Name</th>
      <th scope="row">Description</th>
    </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <th scope="col"> # </th>
      <td> <%= event.title %> </td>
      <td> <%= event.description %> </td>
    </tr>
<% end %>
  </tbody>

</table>


</body>
</html>